*************************************************************
  Property of {{ organization_name }}.
  This is a {{ env_type }} environment.
  All connections are monitored and recorded.
  Disconnect IMMEDIATELY if you are not an authorized user!
*************************************************************